.top-dev {
	display: grid;
	gap: 30px;
	padding: 20px 15px;
	box-sizing: border-box;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.top-dev-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 5px 15px 20px;
	background-color: var(--color-zinc-900);
}

.top-dev-filters select {
	appearance: none; /* Убираем системную стрелку */
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 8px 12px;
	border: none;
	border-radius: var(--radius);
	background-color: var(--color-zinc-800);
	color: var(--text-muted);
	font-size: var(--font-xl);
	outline: none;
	transition: border-color 0.2s ease, background-color 0.2s ease;
	cursor: pointer;
}

.top-dev-filters select:hover {
	background-color: var(--color-zinc-700);
}

.top-dev-filters select:focus {
	background-color: var(--color-zinc-700);
	color: var(--text-color);
}

.top-dev-filters select option {
	background-color: var(--color-zinc-800);
	color: var(--text-muted);
	font-size: var(--font-xl);
}

/* Для средних экранов (планшеты и небольшие десктопы) */
@media (max-width: 1024px) {
	.top-dev {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		max-width: 1024px;
		padding: 20px 15px;
	}
}

/* Для маленьких экранов (телефоны в портретном режиме) */
@media (max-width: 600px) {
	.top-dev {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		max-width: 600px;
		padding: 20px;
	}
}

/* Для очень маленьких экранов — одна колонка */
@media (max-width: 400px) {
	.top-dev {
		grid-template-columns: 1fr !important;
		max-width: 100%;
		padding: 10px 10px;
	}
}
