.navigation {
	background-color: var(--color-zinc-950);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 15px;
	width: 300px;
	border-right: 3px solid var(--color-zinc-900);
	transform: translateX(-100%);
	visibility: hidden;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	z-index: 5;
}

.navigation-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.navigation-header .header-icon {
	padding: 11px 13px !important;
	background-color: var(--color-zinc-900);
}

.navigation-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.navigation-link {
	padding: 12px;
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--text-muted);
	text-decoration: none;
	transition: color 0.2s;
	border-radius: var(--radius);
	border: 2px solid var(--color-zinc-950);
}

.navigation-link i {
	color: var(--text-muted);
	font-size: var(--font-xl);
}

.navigation-link:hover {
	background-color: var(--color-zinc-900);
}

.navigation-link.active {
	color: var(--text-color);
	background-color: var(--color-zinc-800);
}

.navigation-link.active i {
	color: var(--text-color);
}

.link-text {
	font-size: var(--font-xl);
}

@media (max-width: 480px) {
	.navigation {
		width: 60%;
	}

	.navigation-link {
		padding: 12px;
		gap: 10px;
	}

	.navigation-link i {
		font-size: var(--font-2xl);
	}

	.link-text {
		font-size: var(--font-2xl);
	}
}

.navigation.open {
	transform: translateX(0);
	visibility: visible;
}

.navigation.closed {
	transform: translateX(-100%);
	pointer-events: none;
}

/* Overlay */
.mobile-nav-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.42);
	backdrop-filter: blur(1px);
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-nav-overlay.show {
	opacity: 1;
	visibility: visible;
}
