/* Карточки */
.dev-card {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--text-color);
	overflow: hidden;
	height: max-content;
}

/* Контент карточки */
.dev-card__content {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	min-width: 0;
	overflow: hidden;
	padding: 20px;
	background-color: var(--color-zinc-900);
	border-radius: var(--radius);
}

/* Аватар */
.dev-card__image {
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
	border: 3px solid var(--color-zinc-800);
	padding: 2px;
}

.dev-card__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/* Информация */
.dev-card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	min-width: 0;
	overflow: hidden;
	height: 100%;
}

/* Заголовок */
.dev-card__title {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.dev-card__title h3 {
	color: var(--text-color);
	font-family: var(--text-font);
	font-weight: 700;
}

.dev-card__title p {
	color: var(--text-muted);
	font-size: var(--font-xl);
	font-weight: 500;
	width: max-content;
}

.dev-card__title h3,
.dev-card__title p,
.dev-card__status p,
.dev-card__status span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}

/* Статус */
.dev-card__status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.dev-card__subscribers {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-muted);
	font-size: var(--font-xl);
	max-width: 60%;
	font-weight: 700;
}

.dev-card__status span {
	font-size: var(--font-lg);
	padding: 6px 20px;
	border-radius: var(--radius);
	font-weight: 800;
	flex-shrink: 0;
}

/* Кнопки */
.dev-card__buttons {
	display: flex;
	gap: 15px;
	margin-top: auto;
}

.dev-card__buttons .btn-component {
	padding: 10px;
}

.dev-card__buttons .btn-component:first-child {
	flex-basis: 60%;
}

.dev-card__buttons .btn-component:last-child {
	flex-basis: 40%;
}

/* Статусы */
.status--available {
	background-color: var(--color-rose-700);
	border: 2px solid var(--color-rose-500);
}

.status--working {
	background-color: var(--color-emerald-700);
	border: 2px solid var(--color-emerald-500);
}

.status--on-vacation {
	background-color: var(--color-violet-700);
	border: 2px solid var(--color-violet-500);
}

.level--junior {
	color: var(--color-emerald-500);
	font-weight: 600;
	font-family: var(--text-font);
}

.level--middle {
	color: var(--color-rose-500);
	font-weight: 600;
	font-family: var(--text-font);
}

.level--senior {
	color: var(--color-violet-500);
	font-weight: 600;
	font-family: var(--text-font);
}

@media (max-width: 600px) {
	.dev-card {
		gap: 15px;
	}
	.dev-card__content {
		padding: 20px;
	}
	.dev-card__image {
		width: 90px;
		height: 90px;
	}
	.dev-card__title h3 {
		font-size: var(--font-6xl);
	}
	.dev-card__title p {
		font-size: var(--font-2xl);
	}
	.dev-card__status p {
		font-size: var(--font-2xl);
	}

	.dev-card__status span {
		font-size: var(--font-xl);
	}

	.dev-card__buttons {
		gap: 20px;
	}

	.dev-card__buttons .btn-component {
		padding: 12px;
	}

	.dev-card__subscribers {
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--text-muted);
		font-size: var(--font-2xl);
		max-width: 60%;
		font-weight: 700;
	}
}
