@import './colors.css';
@import './fonts';

:root {
	--text-color: var(--color-zinc-50);
	--text-muted: var(--color-zinc-500);
	--radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-user-drag: none;
	-moz-window-dragging: none;
	font-family: var(--system-font);
	font-weight: 600;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

body {
	background-color: var(--color-zinc-950);
	color: var(--color-zinc-50);
	overflow: hidden;
}

.icon {
	color: var(--text-muted);
}

a {
	text-decoration: none;
}

.loading {
	position: relative;
	color: transparent !important; /* скрываем текст */
	background-color: var(--color-zinc-800) !important; /* серый фон */
	opacity: 1 !important;
	border-radius: var(--radius);
	overflow: hidden;

	/* Скрываем содержимое, но фон остаётся */
	user-select: none; /* запрет выделения */
}

.loading > * {
	visibility: hidden; /* скрываем дочерние элементы */
}

.loading::after {
	content: '';
	position: absolute;
	top: 0;
	left: -150px;
	height: 100%;
	width: 150px;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.049),
		transparent
	);
	animation: loading-shimmer 1.5s infinite;
	border-radius: var(--radius);
	z-index: 1;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100svh;
}

@keyframes loading-shimmer {
	0% {
		left: -150px;
	}
	100% {
		left: 100%;
	}
}
